@model WeatherApp.Models.Weather

<tr>
    <td>
        Kl. @Model.DateTime.ToString("HH:mm")
    </td>
    <td>
        @Model.Temperature °C
    </td>
    <td>
        <img class="cloud" src="~/Content/img/cloud@(Model.TotalCloudCover).png">
    </td>
    <td>
        <img class="precipitation" src="~/Content/img/precipitation@(Model.Precipitation).png">
    </td>
    <td>
        @Model.PrecipitationIntensity mm/tim
    </td>
    <td>
        @Model.Humidity %
    </td>
    <td>
        @Model.ThunderStormProbability %
    </td>
    <td>
        @{int windDir = @Model.WindDirection;}
        @if (windDir > 337 || windDir <= 22)
        {
            <span>↑</span>
        }
        @if (windDir > 22 && windDir <= 67)
        {
            <span>↗</span>
        }
        @if (windDir > 67 && windDir <= 112)
        {
            <span>→</span>
        }
        @if (windDir > 112 && windDir <= 157)
        {
            <span>↘</span>
        }
        @if (windDir > 157 && windDir <= 202)
        {
            <span>↓</span>
        }
        @if (windDir > 202 && windDir <= 247)
        {
            <span>↙</span>
        }
        @if (windDir > 247 && windDir <= 292)
        {
            <span>←</span>
        }
        @if (windDir > 292 && windDir <= 337)
        {
            <span>↖</span>
        }
    </td>
    <td>
        @Model.WindSpeed m/s
    </td>
</tr>
